namespace: Radius.Security
types:
  secrets:
    description: "The Radius.Security/secrets Resource Type stores sensitive data such as tokens, passwords, keys, and certificates. To create a new Secret, start by adding parameter to your application definition decorated with `@secure()`. Then add a `secrets` resource. Never include secret values in an application definition. \n\n  @secure()\n  param myTokenValue string\n\n  resource mySecret 'Radius.Security/secrets@2025-08-01-preview' = {\n    name: 'mySecret'\n    properties: {\n      environment: environment\n      application: myApplication.id\n      data: {\n        myToken: {\n          value: myTokenValue\n          encoding: 'base64'   //optional\n        }\n      }\n    }\n  }\n\nWhen `encoding` is not set, the value is assumed to be a string. For non-string secret data, set the `encoding` to `base64`.  \n\nTo use the new Secret with a Container, either, include the Secret in the `env` property or mount the Secret using the `volumes` property.\n\n1. To use the Secret as an environment variable:\n\n  resource myContainer 'Radius.Compute/containers@2025-08-01-preview' = {\n    name: 'myContainer'\n    properties: {\n      ...\n      container: {\n        ...\n        env: \n          MY_SECRET_VALUE: {\n            valueFrom: {\n              secretRef: {\n                source: mySecret.id\n                key: 'myToken'\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n\n2. To mount the secret as a volume:\n\n  resource myContainer 'Radius.Compute/containers@2025-08-01-preview' = {\n    name: 'myContainer'\n    properties: {\n      ...\n      container: {\n        ...\n        volumes: \n          mySecretVolume: {\n            kind: 'secret'\n            mountPath: '/secrets'\n            source: mySecret.id\n          }\n        }\n      }\n    }\n  }\n\nSecrets may already existing in the Radius Resource Group. These can be referenced by name using the `existing` Bicep keyword. For example:\n\n  resource existingSecret 'Radius.Security/secrets@2025-08-01-preview' existing = {\n    name: 'existingSecret'\n  }\n"
    apiVersions:
      2025-08-01-preview:
        schema:
          type: object
          properties:
            environment:
              type: string
              description: (Required) The Radius Environment ID. Typically set by the rad CLI. Typically value should be `environment`.
            application:
              type: string
              description: (Optional) The Radius Application ID. `myApplication.id` for example.
            kind:
              type: string
              enum:
              - generic
              - certificate-pem
              - certificate-pkcs12
              - basicAuthentication
              - awsIRSA
              - azureWorkloadIdentity
              description: (Optional) The kind of content of the secret. If not specified, generic is assumed. basicAuthentication, awsIRSA, and azureWorkloadIdentity should only be used for configuring authentication to OCI registries for storing Bicep templates. This will change in the future.
            data:
              type: object
              description: '(Required) Map of secret data. For example: `data: { username: { value: user1 } password: { value: pass }}`'
              additionalProperties:
                type: object
                properties:
                  encoding:
                    type: string
                    enum:
                    - string
                    - base64
                    description: (Optional) Content encoding of the value. If not specified, `string` is assumed.
                  value:
                    type: string
                    description: (Required) The string value of the secret unless encoding is set to 'base64'.
                required:
                - value
          required:
          - environment
          - data
location:
  global: http://localhost:8082
